* {
  margin: 0;
}

:root {
  --primary: #F2AA4CFF;
  --text: rgb(51, 51, 51);
}

body {
  background-color: #eeeeee;
}

.Header {
  background-color: #1c252e;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  width: 100%;
}

.hdr-logo {
  font-size: 19px;
  color: white;
  margin-right: 1em;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hdr-logo:hover {
  color: #4bb99a;
}

.menu-ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: auto;
}

.menu-ul ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-ul li {
  display: inline;
  margin: 10px;
}

.menu-ul a {
  text-decoration: none;
  font-family: -apple-system,
 BlinkMacSystemFont, 'Segoe UI',
 Roboto, Oxygen, Ubuntu, Cantarell,
 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #c7c7c7;
}

.menu-ul a:hover {
  color: white;
}

.container-01 {
  text-align: center;
  margin-top: 1em;
  padding: 23em;
  font-family: -apple-system,
 BlinkMacSystemFont, 'Segoe UI',
 Roboto, Oxygen, Ubuntu, Cantarell,
 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-01 .hello-C1 {
  color: var(--text);
  font-size: 25px;
  font-family: monospace;
  margin-bottom: 0;
  cursor: default;
  color: #4bb99a;
}

.container-01 .hello-C1 span {
  -webkit-animation: blinker .8s linear infinite;
          animation: blinker .8s linear infinite;
}

@-webkit-keyframes blinker {
  1% {
    opacity: 0;
  }
}

@keyframes blinker {
  1% {
    opacity: 0;
  }
}

.container-01 h3 {
  margin: 0;
  color: var(--text);
}

.container-01 h3 span {
  font-family: Arial, Helvetica, sans-serif;
  z-index: auto;
}

.container-01 h1 {
  margin: 0;
  font-size: 3.6em;
  color: var(--text);
}

.abt-me-container {
  text-align: center;
  background-color: #1c252e;
  padding-top: 5em;
  padding-bottom: 5em;
  font-size: 26px;
  display: block;
  color: white;
}

.abt-me-container h2 {
  margin: 0em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

.abt-me-container p {
  text-align: center;
  line-height: 1em;
  margin-left: 15em;
  margin-right: 15em;
}

.abt-me-container .kn-list {
  font-size: 20px;
  text-align: center;
  display: block;
}

.abt-me-container .kn-list h3 {
  font-size: 34px;
  margin-top: 1.5em;
}

.abt-me-container .kn-list p {
  margin: 1em;
}

.main-footer {
  background: #1c252e;
  text-align: center;
  padding-bottom: .1em;
}

.main-footer p {
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  float: right;
  margin: 0;
}

.main-footer .m-footer {
  list-style: none;
  text-align: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-footer .m-footer p {
  margin: 2em;
  cursor: default;
}

.main-footer .m-footer li {
  margin: 1em;
}

.main-footer .m-footer a {
  font-size: 27px;
}

.main-footer .m-footer .facebook-icon {
  color: white;
}

.main-footer .m-footer .facebook-icon:hover {
  color: #03ecec;
}

.main-footer .m-footer .linkedin-icon {
  color: white;
}

.main-footer .m-footer .linkedin-icon:hover {
  color: #03ecec;
}

.main-footer .m-footer .github-icon {
  color: white;
}

.main-footer .m-footer .github-icon:hover {
  color: #03ecec;
}
/*# sourceMappingURL=App.css.map */