@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
}
:root {
  --primary: #26db96;
  --text: rgb(51, 51, 51);
}

.Header { 
  position: sticky;
  top: 0;
  z-index: 1000;
}
  
  .container-01 {
    text-align: left;
    margin-top: 1em;
    padding: 30vh;
    font-family: -apple-system,
      BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;

    .hello-C1 {
      // color: rgb(255, 68, 68);
      color: var(--text);
      font-size: 25px;
      font-family: monospace;
      margin: 0;
      cursor: default;
      color: #0d6efd;
      span{ animation: blinker .8s linear infinite; } 
      @keyframes blinker { 1% { opacity: 0; } }
    } h3 {
      font-size: 23px;
      color: var(--text);
      span { font-family: Arial, Helvetica, sans-serif; z-index: auto; } 
    } h1 {
      font-weight: 700; 
      margin: 0;
      font-size: 3.6em;
      color: var(--text);
    } h4 {
      font-size: 20px;
      margin: 0;
    }
    .me {
      width: 499px;
      height: 440px;
      margin: 0;
      position: absolute;
      top: 0;
      margin-top: 13em;
      margin-right: 10em;
      right: 0;
    }
  }
  .abt-me-container {
    text-align: center;
    // background-color: #212529;
    background-color: #0f1318;
    padding-top: 5em;
    padding-bottom: 5em;
    font-size: 26px;
    display: block;
    color: white;
    
    h2 {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 50px;
      font-weight: 700;
    }

    p {
      text-align: center;
      line-height: 1.5em;
      margin-left: 10em;
      margin-right: 10em;
      line-height: 1.5em;
      word-spacing: 7px;
      font-size: 23px;
    }

    .kn-list {
      font-size: 20px;
      text-align: center;
      display: block;
      h3{ font-size: 34px; margin-top: 1.5em;}
      p{ 
        margin: 1em;
        line-height: .9em;
        font-size: 20px; 
      }
    }
  }

  .MyPojects {
    padding-top: 3em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 3em;

    h3 {
       text-align: center;
    }

    .projects {
      // display: flex;
      // position: relative;
      // left: 17%;
      // width: 90em;
      // margin: 1em;
      margin: 5em 5em 0 5em;
      .card {
        margin: 1em;
      }
    }

    .lrn {
      margin-top: 5em;
      margin-bottom: 5em;
      margin-left: 4.9em;
      background-color: #0f1318;
      padding: 1em;
      border-radius: 20px;
      color: rgb(81, 211, 81);
      width: 91%;
      h4{ 
        font-size: 27px;
        font-weight: 900; 
        margin-left: 1em;
        margin-top: 1.2em;
        margin-bottom: .5em; 
      font-family: monospace;
    } span { animation: blinker .8s linear infinite; } 
      @keyframes blinker { 1% { opacity: 0; } }
      ul { margin-left: 2em; }
      .btn{
        padding: 0;
        float: left;
        margin: 0;
        ul {
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            margin: 5px;
          }
        }
        .close {
          background-color: rgb(243, 57, 57);
          width: 13px;
          height: 13px;
          border-radius: 10px;
        }
        .minimize {
          background-color: rgb(255, 213, 23);
          width: 13px;
          height: 13px;
          border-radius: 10px;
        }
        .expand {
          background-color: rgb(57, 207, 57);
          width: 13px;
          height: 13px;
          border-radius: 10px;
        }
      }
      .venture-list {
        display: inline-flex;
        .l1 {
          margin-left: 1em;
          font-size: 20px;
          word-spacing: 5px;
        }
      }
    }
  }

  .main-footer {
    background: #1e2022;
    text-align: center;
    padding-bottom: .1em;
    p {
      color: white;
      font-family: sans-serif;
      font-size: 12px;
      float: right;
      margin: 0;
    }

    .m-footer {
      list-style: none;
      // margin-right: 0;
      // margin-left: 1em;
      // margin-top: 0;
      // margin-bottom: 0;
      text-align: center;
      margin: auto;
      display: inline-flex;
      p {
        margin: 2em;
        cursor: default;
        font-weight: 500;
        font-size: 12px;
        position: absolute;
        right: 0;
      } 
      li {
        margin: 1em;
      } 
      a {
        font-size: 27px;
        color: white;
        transition: 0.2s;
        &:hover{
          color: #c2c2c2;
        }
      }
    }
  }

  // MOBILE

  @media only screen and (max-width: 988px) {

    .container-01 {
      text-align: center;
      display: block;
      padding: 15vh;
      h1 {
        text-align: center;
        display: block;
        font-size: 30px;
      }
      h3 {
        font-size: 15px;
        text-align: center;
      }
      h4 {
        font-size: 10px;
      }
    }

    .abt-me-container {
      padding-top: 1em;
      padding-bottom: 1em;
      h2 {
        font-size: 30px;
      }
      p {
        font-size: 19px;
        margin-left: 1em;
        margin-right: 1em;
      }

      .kn-list {
        h3 {
          font-size: 25px;
        }
        p {
          font-size: 15px;
        }
      }
    }

    .MyPojects {
      padding: 3em 1em 3em 1em;
      display: block;
      .lrn {
        display: block;
        margin: auto;
      }
    }

    .main-footer {
      width: 100%;
      .m-footer {
       margin: 0;
       padding: 0;
       li{
         margin: 10px;
       }
       a {
        font-size: 15px;
      }
      }

    }

  }
  @media only screen and (max-width: 1668px) {
    .me {
      display: none;
    }
  }