* {
  margin: 0;
}
:root {
  --primary: #F2AA4CFF;
  --text: #101820FF;
}
body { background-color: #f2f2f2; }
  
  .Header { 
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .hdr-logo {
    font-size: 19px;
    color: white;
    margin-right: 1em;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    transition: 0.5s;
    &:hover { color: var(--primary); }
  }

  .menu-ul {
    align-items: center;
    text-align: center;
    padding: auto;

    ul{
      display: flex;
      list-style: none;
      margin: 0;
      align-items: center;
    }

    li {
      display: inline;
      margin: 10px;
    }

    a {
      text-decoration: none;
      font-family: -apple-system,
      BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 200;
      font-size: 14px;
      color: rgb(199, 199, 199);
    } a:hover { color: white; }
  }

  .container-01 {
    text-align: center;
    margin-top: 1em;
    padding: 23em;
    font-family: -apple-system,
      BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;

    .hello-C1 {
      // color: rgb(255, 68, 68);
      color: var(--text);
      font-size: 25px;
      font-family: monospace;
      margin-bottom: 0;
      cursor: default;
      color: var(--primary);
      span{ animation: blinker .8s linear infinite; } 
      @keyframes blinker { 1% { opacity: 0; } }
    } h3 { 
      margin: 0;
      span { font-family: Arial, Helvetica, sans-serif; } 
    } h1 {
      margin: 0;
      font-size: 3.6em;
      color: var(--text);
    }

    .abt-me-btn {
      padding-top: .8em;
      padding-bottom: .8em;
      padding-left: 3em;
      padding-right: 3em;
      border-radius: 100px;
      background-color: var(--primary);
      color: white;
      border: 1px solid transparent;
      cursor: pointer;
      transition: 0.2s;
      margin: 1em;
      font-size: 16px;
      &:hover { background-color: rgb(179, 61, 61); }
    }

    .ctc-btn {
      padding-top: .8em;
      padding-bottom: .8em;
      padding-left: 3em;
      padding-right: 3em;
      border-radius: 100px;
      background-color: transparent;
      color: black;
      border: 1px solid black;
      cursor: pointer;
      transition: 0.2s;
      margin: 1em;
      font-size: 16px;
      transition: 0.2s;
      &:hover {
        background-color: black;
        border: 1px solid black;
        color: white;
      }
    }
  }

  .abt-me-container {
    text-align: center;
    background-color: black;
    padding-top: 5em;
    padding-bottom: 5em;
    font-size: 26px;
    display: block;
    color: white;
    
    h2 {
      margin: 0em;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 50px;
    }

    p {
      text-align: center;
      line-height: 1em;
      margin-left: 15em;
      margin-right: 15em;
    }

    .kn-list {
      font-size: 20px;
      text-align: center;
      display: block;
      p{ margin: 1em; }
    }
  }

  .main-footer {
    background: rgba(0, 0, 0, 0.801);
    text-align: center;
    padding-bottom: .1em;
    p {
      color: white;
      font-family: sans-serif;
      font-size: 12px;
      float: right;
      margin: 0;
    }

    .m-footer {
      list-style: none;
      // margin-right: 0;
      // margin-left: 1em;
      // margin-top: 0;
      // margin-bottom: 0;
      text-align: center;
      margin: auto;
      display: flex;
      p {
        margin: 2em;
        cursor: default;
      } li {
        margin: 1em;
      } a {
        color: white;
        font-size: 26px;
        transition: 0.5s;
        &:hover { color: var(--primary);}
      }
    }
  }